<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
      <% if (post.comments && config.disqus_shortname){ %>
        <div class="article-comment-link-wrap">
          <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('article.comments') %></a>
        </div>
      <% } %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
        <hr>
        <div class="copyrights1">
          <a href="<%- post.permalink %>"><%- page.title %></a>
          <!--%- partial('post/title', {class_name: 'archive-article-title'}) %-->
          <p>本文原创自<a href="http://laker.me/blog">http://laker.me/blog</a>，转载请注明出处，欢迎交换友链</p>
          <p>如果本文对您有帮助，微信扫一扫，请我吃个鸡腿吧</p>
          <p><img src="https://raw.githubusercontent.com/aomine-sama/px/master/common/wechatmoney.jpg"></p>
        </div>
      <% } %>
    </div>
  <% if (!index || post.tags.length){ %>
    <footer class="article-footer">
      <%- partial('post/tag') %>
    </footer>
  <% } %>
  <p class="hint-text hidden">阅读量<span id="busuanzi_value_page_pv"></span>次</p>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<!-- <% if (config.uyan.enable && page.comments){ %>

<section id="comment">
  <h1 class="title"><%= __('评论组件不稳定，有事请联系V信 lakerHQ (请备注来自博客)') %></h1>
  <div id="disqus_thread">
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1672779"></script>
  </div>
</section>

<% } %> -->


<% if (!index){ %>
<!-- !index 表示不是首页是显示，即在文章详情页显示 -->
<!-- <div>adasdadas</div> -->

<div id="disqus_thread"></div>
<script>
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://laker-huang.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<% } %>